# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
out/
build/
.turbo/

# Env
.env
.env.local
.env.*.local
.env.test

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# Prisma
apps/api/prisma/generated/

# Testing
coverage/
